@include lg {
  .table {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: $form-background-color;
    border-radius: 15px;
    padding: 1rem;

    @include xl {
      width: 50%;
    }

    &-mobile-img {
      display: none;
    }

    &-desktop-img {
      width: 100%;
    }

    &-btn {
      width: 3rem;
      height: 3rem;
      border: none;
      background-color: $form-background-color;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: -5rem;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@include xs {
  .table {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    background-color: $form-background-color;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    border-radius: 15px;
    padding: 1rem;

    &-desktop-img {
      display: none;
    }

    &-mobile-img {
      width: 100%;
    }

    &-btn {
      border: none;
      background-color: $form-background-color;
      border-radius: 50%;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: -3rem;
      right: 0;
      cursor: pointer;
      transition: all 0.1s;

      @include ipad {
        width: 3rem;
        height: 3rem;
        top: -4rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
